#btn {
    padding: 12px 28px;
    transition-duration: 0.4s;
    background-color: #5B5B89;
    color: white;
    border-radius: 8px;
    margin-bottom:4px;
  }
  
  #btn:hover {
    background-color: #3A3A66;
    color: white;
    border-radius: 8px;
  }
  #yo {
    padding: 12px 28px;
    transition-duration: 0.4s;
    background-color: #5B5B89;
    color: white;
    border-radius: 8px;
    margin-top:4px;
  }
#parametros{
  margin-top:4px;


}

  #yo:hover {
    background-color: #3A3A66;
    color: white;
    border-radius: 8px;
  }

body{
    background-color: #3C3C50;
}

h1{
  font-weight: bold;
  font-size: 2em;
}